header {
    text-align: center;
    margin-top: 4em;
}
/*fonts */
h1 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    font-size: 2.5em;
}

h2 {
font-family: 'Montserrat', sans-serif;
font-weight: 100;
}

p, a {
    font-family: 'Montserrat', sans-serif;

}

/*navigation*/

.nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /*margin-bottom: .5em;*/
    /*position: fixed;*/
    overflow: hidden;
    position: fixed;
    z-index: 100;
    height: 70px;
    top: 0;
    width: 100%;
    background-color: rgba(200, 200, 200, 1);
    text-align: center;
    right: 0;
    margin-right: auto;
    /*height:50px;*/
}
.nav a {
    /*display: inline-block;*/
    text-decoration: none;
    color: black;
    font-weight: 400;
    font-size: 1.5em;
    margin-right: 1em;
    margin-left: 1em;


}
/*photo-filter*/
.photo-filter {
    display: flex;
    justify-content: center;
    margin-bottom: 1em;

}

.photo-filter a {
    margin-right: 1em;
    margin-bottom: 1em;
    text-decoration: none;
    display: block;
    text-align: center;
}

#menu p {
    cursor: pointer;
    font-style: italic;

}

#menu-toggle {
    display: none;
}

main {
    display: flex;
    justify-content: center;
}

/*Photos*/
.photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;


}
.photo {
    width: 300px;
    align-self: center;
    margin-right: 5px;
    margin-left: 5px;
    margin-bottom: 5px;
}

#overlay {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	display: none;
	text-align: center;

}

#overlay img {
    width: 66.67%;
    margin-top: 10%;
}

/*About Section*/

.bio {
    width: 45%;
    display: inline-block;
}
#about {
    background-image: url("img/cliff_about.jpg");
    height: 800px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: 80% 80%;
    background-size: cover;
    display: inline-block;
}


@media (min-width:768px) {

    nav {
        margin-left: 2em;
    }
    .nav {
        text-align: left;
        padding-left: 3em;
        justify-content: flex-start;
        padding-left: 2em;
    }

    header {
        margin-top: 2em;
    }
    .photo-filter {

    }
    .photo-filter a {
        margin-right: 1em;
        margin-bottom: 1em;
        text-decoration: none;
        display: inline;
        text-align: center;
    }


    #menu p {
        display: none;

    }
    #menu-toggle {
        display: inline;
    }
    #about {
        background-position: right;
    }

}
