header {
    text-align: center;
}

nav {
    display: flex;
    justify-content: center;

}

nav a {
    margin-right: 1em;
    margin-bottom: 1em;
    text-decoration: none; 
}




.photo-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;


}
.photo {
    width: 300px;
    align-self: center;
    margin-right: 5px;
}
